*{
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    padding: 0 10px;
}
.main_top{
    background:  #00CC00;
    height: 100px;
}
.main_top h1{
    text-align: center;
    line-height: 100px;
}
.main_mid{
    display: flex;
    margin-left: 50px;
}
.main_mid li{
  padding: 5px 15px;
  background: black;
}
.main_mid li:hover{
    background: white;
}
.main_mid li a{
    display: block;
    color: white;
}
.main_mid li a:hover{
    color: black;
}
.main_bot h1{
    margin: 50px 0;
    text-align: center;
}
.add_them{
    margin-bottom: 10px;
}
.footer{
    background: #007acc;
}
.footer p{
    text-align: center;
    padding: 10px 0;
}
.main_add{
    width: 100%;
    margin: 40px 0;
    padding: 0 50px;
}
.main_add h3{
    margin-bottom: 10px;
}
.main_add form{
    margin-bottom: 30px;
}
.main_add form input{
    width: 300px;
    height: 30px;
    padding-left: 10px;
}
.main_add form button{
    margin-top: 20px;
    margin-left: 80px;
    padding: 5px 10px;
    font-weight: bold;
    background: white;
    color: black;
    cursor: pointer;
}
.main_add form button:hover{
    background: black;
    color: white;
}
.main_add table{
    width: 100%;
    border-collapse: collapse;
}
.main_add table,tr,td,th{
    border: 1px solid #00CC00;
}   
.main_add table tr td{
    text-align: center;
    padding: 10px 0;
}
.main_add table tr td a{
    color: red;
    padding: 0px 10px;
    font-weight: bold;
}
.main_add table tr td a:hover{
    color: #00CC00;
}
.login_form{
    width: 600px;
    margin: auto;
    margin-top: 50px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  .signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .content_admin {
    width: 100%;
    display: flex;
  }
  
  .menu-admin {
    width: 300px;
    padding: 40px 30px;
    background-color: #fff;
    position: absolute;
    position: fixed;
  }
  
  .user-admin {
    display: flex;
    align-items: center;
    line-height: 46px;
  }
  
  .user-admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-admin a{
    line-height: 46px;
    color: #c0382c;
    text-decoration: none;
  }
  
  .user-admin a:hover {
    opacity: 0.6;
  }
  
  .text-menu {
    margin: 10px 0;
  }
  
  .text-menu p {
    text-transform: uppercase;
    color: #22b24c;
  }
  
  .text-menu li {
    display: block;
    margin-left: 12px;
    list-style: none;
  }
  
  .text-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  .text-menu a:hover {
    opacity: 0.8;
    color: #22b24c;
  }
  
  .text-admin {
    width: 100%;
    background-color: #ccc;
    margin-left: 300px;
    padding: 60px 10px 40px 10px;
    min-height: 600px;
  }
  
  .text-admin h1 {
    font-size: 40px;
    font-weight: 300;
    color: #c0382c;
    text-align: center;
  }
  
  .text-admin p {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .text-admin input {
    width: 25%;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px ;
  }
  .text-admin select{
    height: 40px;
    width: 25%;
    margin-bottom: 20px;
  }
  .text-admin button {
    width: 15%;
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #22b24c;
    color: #fff;
    border: none;
  }
  
  .text-admin button:hover {
    background-color: #fff;
    color: #22b24c;
    border: 1px solid #22b24c;
  }
  
  /* list menu */
  
  .text-admin table {
    width: 100%;
  }
  
  .text-admin th {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: crimson;
  }
  
  .text-admin table tbody td {
    text-align: center;
    border: 1px solid #000;
    height: 46px;
    color: #22b24c;
  }
  
  .text-admin > ul > li > sup {
    color: red;
  }
  
  .text-admin > ul > li > input {
    margin-left: 20px;
  }
  .text-admin table tbody tr td p{
    font-size: 17px;
    text-transform: none;
  }
  
  .text-admin table tbody tr td a {
    color: #22b24c;
    text-decoration: none;
  }
  
  .text-admin table tbody tr td a:hover {
    color: #c0382c;
  }
  
  










  .web-admin {
    width: 100%;
    height: 120px;
    background-color: #b23822;
    text-align: center;
  }
  
  .web-admin h1 {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
    line-height: 120px;
  }
  
  .content_admin {
    width: 100%;
    display: flex;
  }
  
  .menu-admin {
    width: 300px;
    padding: 40px 30px;
    background-color: #fff;
    position: absolute;
    position: fixed;
  }
  
  .user-admin {
    display: flex;
    align-items: center;
    line-height: 46px;
  }
  
  .user-admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-admin a{
    line-height: 46px;
    color: #c0382c;
    text-decoration: none;
  }
  
  .user-admin a:hover {
    opacity: 0.6;
  }
  
  .text-menu {
    margin: 10px 0;
  }
  
  .text-menu p {
    text-transform: uppercase;
    color: #22b24c;
  }
  
  .text-menu li {
    display: block;
    margin-left: 12px;
    list-style: none;
  }
  
  .text-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  
  .text-menu a:hover {
    opacity: 0.8;
    color: #22b24c;
  }
  
  .text-admin {
    width: 100%;
    background-color: #ccc;
    margin-left: 300px;
    padding: 60px 10px 40px 10px;
    min-height: 600px;
  }
  
  .text-admin h1 {
    font-size: 40px;
    font-weight: 300;
    color: #c0382c;
    text-align: center;
  }
  
  .text-admin p {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .text-admin input {
    width: 25%;
    height: 40px;
    margin: 10px 0;
    padding: 5px 10px ;
  }
  .text-admin select{
    height: 40px;
    width: 25%;
    margin-bottom: 20px;
  }
  .text-admin button {
    width: 15%;
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #22b24c;
    color: #fff;
    border: none;
  }
  
  .text-admin button:hover {
    background-color: #fff;
    color: #22b24c;
    border: 1px solid #22b24c;
  }
  
  /* list menu */
  
  .text-admin table {
    width: 100%;
  }
  
  .text-admin th {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: crimson;
  }
  
  .text-admin table tbody td {
    text-align: center;
    border: 1px solid #000;
    height: 46px;
    color: #22b24c;
  }
  
  .text-admin > ul > li > sup {
    color: red;
  }
  
  .text-admin > ul > li > input {
    margin-left: 20px;
  }
  .text-admin table tbody tr td p{
    font-size: 17px;
    text-transform: none;
  }
  
  .text-admin table tbody tr td a {
    color: #22b24c;
    text-decoration: none;
  }
  
  .text-admin table tbody tr td a:hover {
    color: #c0382c;
  }
  
  .main_add .xemdonhang button{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    margin-top: 20px;
}
.main_add .xemdonhang button a{
    padding: 5px 15px;
    font-weight: bold;
    
}
.main_add table tr td p{
  color: black;
  font-size: 20px;
}